$primary: #2F2359;
$secondary: #34c6bf;
$light: #d4eeeb;
$dark: #277A8C;
$body-bg: #e5f4f2;

@import '~bootstrap/scss/bootstrap.scss';

/* Color Theme Swatches in Hex */
$color-theme_MyFlix-Logo-1-hex: #2F2359;
$color-theme_MyFlix-Logo-2-hex: #277A8C;
$color-theme_MyFlix-Logo-3-hex: #34c6bf;
$color-theme_MyFlix-Logo-4-hex: #8FD9D1;
$color-theme_MyFlix-Logo-5-hex: #F2F2F2;

// /* Color Theme Swatches in HSLA */
// $color-theme_MyFlix-Logo-1-hsla: hsla(253, 43, 24, 1);
// $color-theme_MyFlix-Logo-2-hsla: hsla(190, 56, 35, 1);
// $color-theme_MyFlix-Logo-3-hsla: hsla(173, 57, 47, 1);
// $color-theme_MyFlix-Logo-4-hsla: hsla(173, 49, 70, 1);
// $color-theme_MyFlix-Logo-5-hsla: hsla(0, 0, 94, 1);

.link-header-light {
    color: $white
}

.link-header-light:hover, .link-header-light:focus-within {
    color: $primary
}